<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>rEddit</h1>

      <!-- if i have signed in, then current_user is not NIL, so current_user is true  -->
      <% if current_user %>
      <!-- yaml is like jason..arrays..hashes -->
      
      <%= current_user.email %>

      <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>

      <% else %>

      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>
    
</div>