.body-background{
  /*background-color: #333330;*/
  background-color: #bfbfbb;
  /*color: #bfbfbb;*/
  color: #333330;
}

.vertical-center {
/*  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;*/

  align-items: center;
  font-family: arial;
  padding: 5px 10px 5px 10px;
}

.table{
	text-align: center;
}